WebContent/wsdl/XMLService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.quicklogix.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.quicklogix.com" xmlns:intf="http://services.quicklogix.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.quicklogix.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getXML">
    <complexType>
     <sequence>
      <element name="dbName" type="xsd:string"/>
      <element name="fileName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getXMLResponse">
    <complexType>
     <sequence>
      <element name="getXMLReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateXML">
    <complexType>
     <sequence>
      <element name="dbName" type="xsd:string"/>
      <element name="pathName" type="xsd:string"/>
      <element name="inputXML" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateXMLResponse">
    <complexType>
     <sequence>
      <element name="updateXMLReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addXML">
    <complexType>
     <sequence>
      <element name="dbName" type="xsd:string"/>
      <element name="inputXML" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addXMLResponse">
    <complexType>
     <sequence>
      <element name="addXMLReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getXpath">
    <complexType>
     <sequence>
      <element name="dbName" type="xsd:string"/>
      <element name="fileName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getXpathResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getXpathReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addXMLRequest">

      <wsdl:part element="impl:addXML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getXMLRequest">

      <wsdl:part element="impl:getXML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateXMLRequest">

      <wsdl:part element="impl:updateXML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getXpathResponse">

      <wsdl:part element="impl:getXpathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addXMLResponse">

      <wsdl:part element="impl:addXMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getXpathRequest">

      <wsdl:part element="impl:getXpath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getXMLResponse">

      <wsdl:part element="impl:getXMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateXMLResponse">

      <wsdl:part element="impl:updateXMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="XMLService">

      <wsdl:operation name="getXML">

         <wsdl:input message="impl:getXMLRequest" name="getXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:getXMLResponse" name="getXMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateXML">

         <wsdl:input message="impl:updateXMLRequest" name="updateXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateXMLResponse" name="updateXMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addXML">

         <wsdl:input message="impl:addXMLRequest" name="addXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:addXMLResponse" name="addXMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getXpath">

         <wsdl:input message="impl:getXpathRequest" name="getXpathRequest">

       </wsdl:input>

         <wsdl:output message="impl:getXpathResponse" name="getXpathResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XMLServiceSoapBinding" type="impl:XMLService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getXpath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getXpathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getXpathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XMLServiceService">

      <wsdl:port binding="impl:XMLServiceSoapBinding" name="XMLService">

         <wsdlsoap:address location="http://localhost:8180/XMLsoapService/services/XMLService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
